<div class="header">
  <div class="logo">
    <img src="assets/RO_Logo.png" alt="Logo rijksoverheid">
  </div>
  <div class="nav" [ngClass]="{'mod': isAuthorised === 'moderator'}">
  <div class="nav" [ngClass]="{'admin': isAuthorised === 'admin'}">

    <div class="navbar-container">
      <ul *ngIf="isAuthorised === 'afko'">
        <li routerLinkActive="active" ><a routerLink="/afko">Afkotheek</a></li>
        <li routerLinkActive="active"><a routerLink="/game">Game</a></li>
        <li routerLinkActive="active"><a routerLink="/support">Support</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/moderator', 'overview']">Moderator::temp</a> </li>
      </ul>
      <ul *ngIf="isAuthorised === 'moderator'">
        <li routerLinkActive="active" ><a routerLink="/moderator">Overzicht</a></li>
        <li routerLinkActive="active"><a routerLink="/game">Instellingen</a></li>
        <li routerLinkActive="active"><a routerLink="/support">Zoek</a></li>
      </ul>
      <ul *ngIf="isAuthorised === 'admin'">
        <li routerLinkActive="active" ><a routerLink="/admin">Overzicht</a></li>
        <li routerLinkActive="active"><a routerLink="/settings">Instellingen</a></li>
        <li routerLinkActive="active"><a routerLink="/search-admin">Zoek</a></li>
        <li routerLinkActive="active"><a routerLink="/add-mod">Gebruiker Toevoegen</a></li>
      </ul>
    </div>
  </div>
  </div>
</div>


