@import "src/styles";

.login-container
{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.card{
  background-color: $dark-blue;
  color: black;
  max-width: 500px !important;
  h1{
    color: white;
  }
}

input.ng-invalid.ng-touched {
  border: 3px solid red;
}
.alert {
  margin-top: 10px;
}
