@import "src/styles";

.col-sm.name {
  color: $primary-orange;
  font-weight: bold;
  font-size: 20px;
}
.description {
  font-size: 15px;
}
.row.abbreviation {

}
.row.abbreviation:after {
  content: "";
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  border-bottom: 1px solid lightgray;
  width: 97%;
}
.organisations {
  font-size: 12px;
  color: gray;
}
