<div class="overiew-container">
  <div class=" container overview-header">
    <div class="row">
      <div class="col-sm">
        account-id
      </div>
      <div class="col-sm">
        voornaam
      </div>
      <div class="col-sm">
        achternaam
      </div>
      <div class="col-sm">
        activiteit
      </div>
      <div class="col-sm">
        organisatie
      </div>
    </div>
  </div>
  <div class="list-container">
    <div *ngFor="let user of users">
      <app-user (click)="onClick(user)" [singleUser]="user" [routerLink]="['/admin' , 'edit-mod']"></app-user>
    </div>
  </div>
</div>
