<div class="float-container">
    <div class="float-child">
        <div class="child-content">
            <h3>Welkom bij de AFKO Game!</h3>
            <p> Voer een gebruiker naam in en kies daarna een organisatie uit waar je meer over wilt leren.
                In deze game krijg je één minuut de tijd om zoveel mogelijk afkortingen goed te raden, uit de vier gegeven opties die er onder staan. Raad de meeste worden en word de AFK-kenner van de Rijksoverheid!
                </p>
        </div>
        <br>
        <article class="child-content">
          <app-top-player-list></app-top-player-list>
        </article>
    </div>

    <div class="float-child">
        <form (ngSubmit)="startGame(gameform)" #gameform="ngForm" class="child-content game-form">
            <label for="name">Naam:</label>
            <input
            type="text" 
            id="name" 
            class="name-input" 
            ngModel
            name="name"
            #name="ngModel"
            required>

            <!-- <span *ngIf="!name.valid && name.touched">Dit is geen geldige naam!</span> -->
            <span *ngIf="!name.valid && name.touched">Er mist nog een naam</span>

            <br><br>

            <label>Organisatie:</label>
            <app-dropdown (onSelectEvent)="onSelectOrg($event)"></app-dropdown>
            <br>

            <button type="submit" [disabled]="!gameform.valid">Start</button>
            <button type="button" [disabled]="!gameform.valid" (click)="forGlory(gameform)">Voor de eer</button>
        </form>
    </div>
</div>
