<div class="float-container">
    <div class="float-child">
        <div class="child-content">
            <h1>Wat betekend de volgende afkorting?</h1>
            <p>--AFKORTING--</p>
        </div>
    </div>

    <div class="float-child">
        <!-- LOOP TROUGH ANWSERS -->
        <div class="child-anwsers-container">
            <div class="child-content-anwsers">
                <div class="anwser-container">
                    <p>--BETEKENIS VAN HET WOORD--</p>
                </div>
            </div>
            <div class="child-content-anwsers">
                <div class="anwser-container">
                    <p>--BETEKENIS VAN HET WOORD--</p>
                </div>
            </div>
            <div class="child-content-anwsers">
                <div class="anwser-container">
                    <p>--BETEKENIS VAN HET WOORD--</p>
                </div>
            </div>
            <div class="child-content-anwsers">
                <div class="anwser-container">
                    <p>--BETEKENIS VAN HET WOORD--</p>
                </div>
            </div>
        </div>
    </div>

    <div class="float-child">
        <div class="child-content">
        <button class="button-start-game">Volgende vraag &rarr;</button>
        </div>
    </div>
</div>