.new-abbreviation {
padding: .45rem;
  form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .abbreviation{
    grid-column: 1/2;
  }
  .definition{
    grid-column: 2/3;
  }
  .organisation{
    grid-column: 1/2;
  }
}


