.new-abbreviation {
padding: .45rem;
  form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .abbreviation{
    grid-column: 2/3;
  }
  .definition{
    grid-column: 1/2;
  }
  .organisation{
    grid-column: 1/2;
  }
}

@media only screen and (min-width: 100px) and (max-width:1600px){
  .new-abbreviation{
    form{
      display: block;
    }
    input{
      margin: 2px;
      width: 100%;
    }
  }
}


