@import "src/styles";

.button-deny {
  background-color: $primary-blue;
  &:hover {
    background-color: $dark-blue;
  }
}
.button-confirm {
  background-color: $primary-orange-lite;
  &:hover {
    background-color: $primary-orange;
  }
}
