
  <form class="row gx-5">
      <div class="col-sm-6">
          <div class="mb-3">
            <label>Naam </label>
            <input class="form-control">
          </div>
          <div class="mb-3">
            <label>Email</label>
            <input class="form-control">
          </div>
          <div class="mb-3">
            <label>Telefoon</label>
            <input class="form-control">
          </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <textarea></textarea>
        </div>

      </div>
    <button>Verstuur</button>
  </form>
