@import "src/styles";
.row {
  margin-top: 25px;
  align-items: center;
  justify-content: center
;
  button {
    width: 60%;
  }
}
.btn.btn-primary.submit-button {
  background-color: $primary-orange;
}
