@import "src/styles";
.abbr-name {
  font-weight: bold;
  color: $primary-orange;
  padding-top: 5px;
}
.modal-body {
  margin-left: 25px;
}
.abbr-description {
  margin-left: 30px;
  padding-bottom: 5px;
}
