@import "src/styles";

.content-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
  background-color: $home-page-background-color;
}
.box{
  display: flex;
  flex-direction: row;
  min-width: 800px;
  width: 100%;
  justify-content: center;
  li{
    color: black;
  }
}
app-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: white;
  display: inline-block;
}
@media (max-width: 500px) {
  .box {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
