<div class="modal-header">
  <div class="modal-title">
    Bezig met versturen
  </div>
</div>
<div class="modal-body">
  <div *ngIf="isDone">
    Afkortingen succesvol toegevoegd
  </div>
  <div class="progress-bar-container">
    <div class="progress-bar" [ngStyle]="{'width': percentage}">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="button-confirm" *ngIf="isDone" (click)="onConfirm()">Ok</button>
  <app-loading-animation *ngIf="!isDone"></app-loading-animation>
</div>
