<div class="mod-container">

  <div class="mod-info">
    <table>
      <thead><h4>Moderator: {{model.id}}</h4></thead>
      <tr>
        <td>Voornaam</td>
        <td><form><input type="text" value="{{model.firstName}}"></form></td>
      </tr>
      <tr>
        <td>Achternaam:</td>
        <td><form><input type="text" value="{{model.lastName}}"></form></td>
      </tr>
      <tr>
        <td>E-mail:</td>
        <td><form><input type="text" value="{{model.email}}"></form></td>
      </tr>
      <tr>
        <td>Telefoon:</td>
        <td><form><input type="text" value="{{model.phoneNumber}}"></form></td>
      </tr>
      <tr>
        <td>Orginisatie:</td>
<!--        <td><app-ticket-type-dropdown (onSelectEvent)="setTicketType($event)"></app-ticket-type-dropdown></td>-->
      </tr>
    </table>
  </div>

  <div class="activation">
    <button [routerLink]="['/admin' , 'admin-page']">Terug naar overzicht</button>
    <div>
      <label for="actief">Actief</label>
      <input type="radio" id="actief" name="activation-buttons" value="actief" checked>
    </div>

    <div>
      <label for="in-actief">In-actief</label>
      <input type="radio" id="in-actief" name="activation-buttons" value="in-actief">
    </div>
    <button>wachtwoord wijzigen</button>
  </div>

  <div class="actie-buttons">
    <button type="Button" class="close" aria-label="Close" (click)="onClick()">Opslaan</button>
    <button>Wijziging negeren</button>
  </div>
</div>
