<div class="float-container">
  <div class="float-child">
    <div class="float-child-split">
      <div class="child-content">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <table>
            <thead><h4>Moderator: {{(model.firstName + '' + model.lastName)}}</h4></thead>
              <tr>
                <td>Voornaam</td>
                <td>
                  <input
                    class="text-input form-control"
                    type="text"
                    ngModel ="{{model.firstName}}"
                    name="firstname"
                    required
                    #firstname="ngModel">
                  <br>
                  <span class="help-block" *ngIf="!firstname.valid && firstname.touched">Please enter the Firstname of the Moderator!</span>
                </td>
              </tr>
              <tr>
                <td>Achternaam:</td>
                <td>
                  <input
                    class="text-input form-control"
                    type="text"
                    ngModel="{{model.lastName}}"
                    name="lastname" required
                    #lastname="ngModel">
                  <br>
                  <span class="help-block" *ngIf="!lastname.valid && lastname.touched">Please enter the Lastname of the Moderator!</span>
                </td>
              </tr>
              <tr>
                <td>E-mail:</td>
                <td>
                  <input
                    class="text-input form-control"
                    type="text"
                    ngModel="{{model.email}}"
                    name="e-mail" required email
                    #email="ngModel">
                  <br>
                  <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
                </td>
              </tr>
              <tr>
                <td>Telefoon:</td>
                <td>
                  <input
                    class="text-input form-control"
                    type="text"
                    ngModel="{{model.phoneNumber}}"
                    name="phonenumber" required
                    #phonenumber="ngModel">
                  <br>
                  <span class="help-block" *ngIf="!phonenumber.valid && phonenumber.touched">Please enter a valid phonenumber!</span>
                </td>
              </tr>
              <tr>
                <td>Orginisatie:</td>
<!--                <div class="drop-org">-->
                  <td>
                    <app-mod-dropdown (onSelectEvent)="onSelectOrganisation($event)"></app-mod-dropdown>
                  </td>
<!--                </div>-->
              </tr>
          </table>
          <div class="save-btn">
            <button
              type="submit" [disabled]="!f.valid">Opslaan
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="float-child-split">
      <div class="child-content">
        <button
          class="btn-back" [routerLink]="['/admin' , 'overzicht']">Terug naar overzicht
        </button>
        <form>
          <div class="radio-container">
            <div class="radio-btn">
              <label for="actief">Actief</label>
              <input
                type="radio"
                id="actief"
                name="activation-buttons"
                value="actief" checked>

              <label for="in-actief">In-actief</label>
              <input
                type="radio"
                id="in-actief"
                name="activation-buttons"
                value="in-actief">
            </div>
          </div>
        </form>
        <button class="ww-button">wachtwoord wijzigen</button>
      </div>
    </div>
  </div>
  <div class="float-child">
    <div class="child-content child-content-footer">
<!--      <button type="submit" [disabled]="!f.valid">Opslaan</button>-->
      <button>Wijziging negeren</button>
    </div>
  </div>
</div>
