@import '../../styles';

.list-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
  min-height: 30vh;
  background: white;
  table{
    border-collapse: collapse;
    tr{
      border-bottom: 1px solid black;
      &:hover{
        background-color: #EEEEEE;
      }
    }
  }
}
