<div class="reported-abbreviation">
  <h4>Gerapporteerde Afkorting</h4>
  <form class="container">
    <div class="row">
      <div class="col-sm-3">
        <input class="name" value="{{getAbbreviationName()}}" (keyup)="onChangeName($event)">
      </div>
      <div class="col-sm-7">
        <div class="organisation">
          <app-dropdown (onSelectEvent)="onChangeOrganisation($event)" [selectedOrganisation]="getSelectedOrganisation()"></app-dropdown>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input class="description" value="{{getAbbreviationDescription()}}" (keyup)="onChangeDescription($event)">
      </div>
    </div>
  </form>
</div>
