.ticket-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 5vh;

  .ticket-header {
    padding: .45rem;
    display: flex;
    justify-content: space-around;
    gap: 11rem;
    flex-direction: row;
    background-color: white;
    grid-column: 1/ 3;
  }

  .ticket-user-info{
    padding: .45rem;
    background-color: white;
    grid-column: 1/2;
  }

  .ticket-status{
    padding: .45rem;
    background-color: white;
    grid-column: 1/2;
  }

  .ticket-bericht{
    padding: .45rem;
    background-color: white;
    grid-column: 2/3;
    & textarea{
      padding: .45rem;
      resize: none;
      width: 21vw;
      min-height: 8vh;
      max-height: 15vh;
      border-radius: 10px;
    }
  }

  .ticket-specifieke-acties{
    padding: .45rem;
    background-color: white;
    grid-column: 2/3;
  }
  .actie-buttons{
    padding: .45rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    grid-column: 1/3;
    & button{
      margin-right: 0.2rem;
    }
  }
}
