<section class="card-body">
  <h3>Top 3 Spelers</h3>
  <table class="top-three-table">
    <tr>
      <th>Mees</th>
      <th>890</th>
      <th><img src="https://img.freepik.com/free-vector/pixel-art-medal-icon-8bit-game-white-background_360488-237.jpg?size=338&ext=jpg" alt="IMAGE"></th>
    </tr>
    <tr>
      <th>Luuk</th>
      <th>345</th>
      <th><img src="https://img.freepik.com/free-vector/pixel-art-medal-icon-8bit-game-white-background_360488-237.jpg?size=338&ext=jpg" alt="IMAGE"></th>
    </tr>
    <tr>
      <th>Roeland</th>
      <th>256</th>
      <th><img src="https://img.freepik.com/free-vector/pixel-art-medal-icon-8bit-game-white-background_360488-237.jpg?size=338&ext=jpg" alt="IMAGE"></th>
    </tr>
  </table>
</section>
