@import "src/styles";

.abbreviation_list {
  background-color: white;
}
.abbreviation-list-container {
  margin-top: 5vh;
  background-color: white;
  width: auto;
  overflow-x: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

