<div class="abbreviation-list-container"
     [ngStyle]="{'max-height': list_height, 'height': list_height}">
  <app-loading-animation *ngIf="shouldShowSearchingAnimation" class="loading-animation"></app-loading-animation>
  <div *ngIf="noResult" class="row justify-content-center text-center mt-5">
    <div class="col-sm">
      <a (click)="navNewAbbreviation()" class="new-abbr">Helaas is er geen afkorting met deze naam gevonden. Klik hier om eer een toe te voegen.</a>
    </div>
  </div>

  <div *ngFor="let abbreviation of abbreviations">
    <app-abbreviation *ngIf="shouldUseClickableAbbreviationComponent === false" [abbreviation]="abbreviation"></app-abbreviation>
    <app-clickable-abbreviation *ngIf="shouldUseClickableAbbreviationComponent === true" [abbreviation]="abbreviation" (onClicked)="onAbbreviationClicked($event)"></app-clickable-abbreviation>
  </div>
</div>
