.anwser-container{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 22px 0px;
    word-wrap: break-word;
    padding: 10px;
}

.child-content-anwsers{
    float: left;
    width: 25%;
    padding: 20px;
}

.correctBorderColor{
    border: 2px solid greenyellow;
}